@charset "UTF-8";
body{
            background-color: rgb(7, 2, 2);
            color: rgb(255, 139, 6);
            font-size: 10pt;
            font-family: Arial, Helvetica, sans-serif;
    }
h1{
            color: rgb(188, 238, 6);
            font-style: oblique;
            
    }
h2{
        color: rgb(130, 153, 46);
        font-style: oblique;
        
}
p{
            color: cyan;
            font-style: oblique;
            text-decoration: none;
            text-align: justify;
            font-size: 1em;
    }
  