@charset "UTF-8";

/*Estilos para telas  */


*{
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background: rgb(149, 209, 230);
}

header > h1{
    text-align: center;
    padding:10px ;
}

menu ul{
    list-style-type: none;
    text-align: center;
    padding: 10px ;
    background: lightblue;
}

menu li{
    display: inline-block;
    background: lightblue;
    padding: 5px;
}

menu li > a{
    text-decoration: none;
}

menu li > a:hover{
    text-decoration: underline;
    background: aqua;
    color: rgb(4, 202, 202);
}

article{
    padding: 10px;
    margin: auto;
    background: lightcyan;
    text-align: justify;
    text-indent: 15px;
    width: 600px;
    height: 700px;
    display: block;
}
