@charset "UTF-8";

/*Estilos para telas  */


*{
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background: rgb(149, 217, 241);
    width: 100%;
}

header > h1{
    text-align: center;
    padding:10px ;
}

article > h2{
    text-align: center;
}

menu ul{
    list-style-type: none;
    text-align: center;
    padding: 10px ;
    background: rgba(173, 216, 230, 0.452);
}

menu li{
    display: inline-block;
    padding: 5px;
}

menu li > a{
    text-decoration: none;
}

menu li > a:hover{
    text-decoration: underline;
    background: rgba(98, 212, 212, 0.836);
    color: rgba(5, 145, 145, 0.767);
}

article{
    padding: 10px;
    margin: auto;
    background: lightcyan;
    text-align: justify;
    text-indent: 15px;
    width: 600px;
    height: 700px;
    display: block;
}
